<!-- coolection.vtl -->
<div id="collection" class="container">

</div>
<div id="add-record-form-div">
  <form id="add-record-form" class="form-control">
    <label for="record-form"></label>
    <input type="form-control" name="artist" value="artist">
    <label for="record-form"></label>
    <input type="form-control" name="album" value="album">
    <button id="add-record-btn"type="submit" class="btn btn-md btn-primary">Add Record</button>
  </form>
</div>
<!-- coolection.vtl -->
