<!-- welcome.vtl -->
<div class="container">
  <h1>Record Keeper</h1>
  <img id="index-banner" src="images/index-banner.jpg" alt="Gramovox" />
  <h2 id="index-h2">Start keeping a record of your records.</h2>
  <form action="/collection.vtl" method="get">
      <button id="index-btn" class="btn-lg btn-primary btn-active btn" type="submit">Sign up</button>
  </form>
</div>
<!-- welcome.vtl -->
